name: CI Pipeline

on:
  push:
    branches:
      - main
      - develop
      - "feature/**"
    tags:
      - "v*.*.*"

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Mostrar branch/evento (verificação)
        run: |
          echo "Event: ${{ github.event_name }}"
          echo "Ref:   ${{ github.ref }}"
          echo "Branch:${{ github.ref_name }}"

      - name: Checks rápidos (feature)
        if: startsWith(github.ref, 'refs/heads/feature/')
        run: |
          echo "Rodando checks RÁPIDOS porque é feature/*"

      - name: Checks completos (develop/main)
        if: github.ref_name == 'develop' || github.ref_name == 'main'
        run: |
          echo "Rodando checks COMPLETOS"

  release:
    name: Create GitHub Release
    if: startsWith(github.ref, 'refs/tags/')
    needs: checks
    runs-on: ubuntu-latest

    steps:
      - name: Create Release
        uses: softprops/action-gh-release@v1

