name: Docker CI

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]
    
jobs:
  build-and-smoke-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Docker image (local only)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: false
          load: true
          tags: devops-lab:ci

      - name: Smoke test (run container)
        run:  |
          docker run --rm devops-lab:ci
